@charset "utf-8";
/* CSS Document */


#main {
}
#header {
	background-image: url(http://images.collisionbuzz.com/images/jcody/colorvision/Welcome-page_01.png);
	background-repeat: no-repeat;
	height: 150px;
	width: 520px;
}
#content {
}
#footer {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #f2f2fa;
	background-image: url(http://images.collisionbuzz.com/images/jcody/colorvision/Welcome-page_04.png);
	height: 34px;
	width: 520px;
	padding: 8px 0 0px 0;
}
.white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #13142d;
	background-image: url(http://images.collisionbuzz.com/images/jcody/colorvision/Welcome-page_02.png);
	background-repeat: no-repeat;
	height: 395px;
	width: 520px;
}
.white img {
	margin-top: 8px;
}
#blue {
	background-image: url(http://images.collisionbuzz.com/images/jcody/colorvision/Welcome-page_03.jpg);
	background-repeat: no-repeat;
	height: 693px;
	width: 520px;
}
#blue h1 {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #f2f2fa;
	margin-top: 10px;
	text-align: left;
}
#blue p {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	color: #f2f2fa;
	text-align: left;
}
.call-text {
	padding-top: 22px;
	left: auto;
	right: auto;
}
.about-text {
	font-size: 14px;
	padding-top: 85px;
	left: auto;
	right: auto;
	padding-right: 50px;
	padding-left: 50px;
}
.col-left {
	width: 210px;
	float: left;
	margin: 20px 21px 0px 27px;
}
.col-left img {
	position: absolute;
	top: 840px;
}
.col-right {
	width: 210px;
	float: left;
	margin: 20px 21px 0px 27px;
}
.col-right img {
	position: absolute;
	top: 840px;
}
.video {
	position: relative;
	left: auto;
	right: auto;
	top: 20px;
}
.clear {
	clear: both;
	margin: 0;
}